@import "../../../styles/main";

.container {
    height: 3.5rem;
    background-color: $black;

    .navbar {
        max-width: 1280px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        gap: 0.5rem;

        .hamburger {
            color: white;
            margin-right: 0.5rem;

            svg {
                width: 1.3rem;
                height: 1.3rem;
            }
        }

        .logo {
            background-color: $yellow;
            border-radius: $border-radius;
            font-weight: 900;
            padding: 0.1rem 0.5rem;
            font-size: 20px;
            font-family: "Bebas Neue", sans-serif;
            margin-right: 0.5rem;
        }

        .navLink {
            color: white;
            font-size: $font-main;
            font-weight: 700;
            text-decoration: none;
            padding: 0 1rem;
            cursor: pointer;

            @include dfc;
            border-radius: $border-radius;
            transition: ease-in-out 0.1s;

            &:hover {
                background-color: rgb(39, 39, 39);
            }

            .icon {
                height: 16px;
                width: 16px;
                color: $yellow;
                padding-right: 0.5rem;
            }
        }
    }
}