@import "../../styles/main";


.container {
    padding: 1rem;
    border: $light-border;
    border-radius: $border-radius;



    .listItemWrapper {
        border-bottom: $light-border;

        &.listItemWrapper:last-child {
            border-bottom: none;
        }
    }
}