@import "../main";

.container {
    min-height: calc(100vh - 3.5rem - 8rem);

    .title {
        padding: 4rem 0 3rem 2.9rem;
    }

    .inputs {
        width: 40%;
        margin: 1rem 2rem;
    }

    .list {
        margin: 2rem auto 0 2rem;
        width: 60%;
        padding-bottom: 3rem;

        .arrowsWrapper {
            margin: 1.5rem;
        }


    }

    .error {
        @include dfc;

        .errorMessage {
            margin: 0;
            font-size: 30px;
            color: gray;
        }
    }
}