@import "../main";

.container {
    .title {
        padding: 4rem 0 4rem 2.9rem;
    }

    .list {
        margin: 2rem auto 0 2rem;
        width: 60%;
        padding-bottom: 3rem;

        .arrowsWrapper {
            margin: 1.5rem;
        }
    }
}

.error {
    height: 100vh;
    @include dfc;

    .errorMessage {
        margin: 0;
        font-size: 40px;
    }
}