@font-face {
    font-family: 'Bebas Neue';
    src: url('../../public/fonts/BebasNeue-Regular.ttf') format('truetype');


}

@font-face {
    font-family: 'Roboto';

    src:
        url('../../public/fonts/Roboto-Regular.ttf') format('truetype');


}

//fonts
$main-font-family: "Roboto", sans-serif;

//font sizes
$font-main: 16px;
$font-main-smaller: 14px;
$font-header3: 24px;
$font-header4: 20px;