@import "../../../styles/main";

.pagesNavigation {
    font-size: 18px;
    font-weight: 900;
    @include dfc;

    .leftArrow,
    .rightArrow {
        color: $yellow;
        height: 20px;
        width: 20px;
        padding: 0 0.5rem;
        background-color: white;
        border: none;

        svg {
            height: 20px;
            width: 20px;
        }

        cursor: pointer;

        &.noClick {
            color: lightgray;
            cursor: not-allowed;
        }
    }

    .leftArrow {
        transform: rotate(-180deg);
    }

    .pageNumber {
        padding: 0.5rem;
        cursor: pointer;
        background-color: white;
        border: none;
        font: inherit;
    }

    .currentPage {
        border: 2px solid $yellow;
        border-radius: $border-radius;
    }

    .firstPage::after,
    .lastPage::before {
        content: "...";
    }

    .displayNone {
        display: none;
    }
}