@import "../../styles/main";

.container {
    width: 100%;

    .inputWrap {
        width: 100%;
        display: flex;
        align-items: center;

        input {
            margin-right: 1rem;
            font-size: $font-main;
            padding: 0.5rem;
            border: 1px solid $darker-blue;
            border-radius: $border-radius;
            width: 80%;
            min-width: 11.5rem;
        }

        button {
            padding: 0.5rem 1rem;
            background-color: $darker-blue;
            color: white;
            font-size: $font-main;
            border-radius: $border-radius;
            border: 1px solid transparent;
            margin: 0.5rem 0;

        }
    }
}

@include lowTablet {
    .container {
        .inputWrap {
            input {
                margin-right: 0.5rem;
            }

            button {
                padding: 0.5rem 0.5rem;
            }
        }
    }
}